<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html>
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Новостной портал</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>
    <body>
        <!-- Responsive navbar-->
                <!-- Responsive navbar-->
        <div>
            {% if user.is_authenticated %}
            <h6><a style="margin-left: 20px" href="/prodected_page/"> {{request.user.username }}</a><a style="margin-left: 50px" href="/accounts/logout/">Выйти</a> </h6>
            {% else %}
            <h6><a href="/accounts/login/">Авторизация</a></h6>
            {% endif %}


        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">News Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/news/">Новости</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/article/">Статьи</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news/create/">Создать новость</a></li>
                        <li class="nav-item"><a class="nav-link" href="/article/create/">Создать статью</a></li>
                        <li class="nav-item"><a class="nav-link" href="/search/">Поиск</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Список</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/news/">Новости</a></li>
                                <li><a class="dropdown-item" href="/article/">Статьи</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div>

    </div>
    </body>
{% block content %}
{% endblock content %}
<body>
        {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    <div align="center">
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
           ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    </div>

</body>
</html>